<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span><img src=""></span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>

        <button mat-button>About</button>
        <button mat-button>Contact</button>
        <button (click)="registerUser()" mat-button>Register user</button>
        <button *ngIf="auth.isAuthenticated()" (click)="userProfile()" mat-button>User profile</button>
        <button *ngIf="auth.isAuthenticated()" (click)="logout()" mat-button>Logout</button>
    </mat-toolbar-row>
</mat-toolbar>